<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Create User">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Create User</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">

                <!-- Global errors -->
                <!-- first option -->
                <!--<ul th:if="${#fields.hasErrors('global')}">-->
                    <!--<li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>-->
                <!--</ul>-->
                <!-- second option-->
                <!--<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Incorrect date</p>-->
                <!-- third option-->
                <!--<div th:if="${#fields.hasGlobalErrors()}">-->
                    <!--<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>-->
                <!--</div>-->

                <!-- Displaying errors outside form -->
                <!--<div th:errors="${userSignUpRequest}">...</div>-->
                <!--<div th:errors="${userSignUpRequest.firstName}">...</div>-->
                <!--<div th:errors="${userSignUpRequest.*}">...</div>-->

                <div class="col-sm-4 sign-up--form order-first order-lg-last">
                    <div class="row">
                        <form name="myForm" class="col mx-auto" accept-charset="UTF-8" th:action="${#requestdatavalues.url('/users/signup')}" method="post"
                              th:object="${userSignUpRequest}">

                            <!-- All errors -->
                            <!--<ul th:if="${#fields.hasErrors('*')}">-->
                                <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
                            <!--</ul>-->
                            <!--<p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">nput is incorrect</p>-->

                            <!--Example from seventh lesson -->
                            <div class="form-group">
                            <label for="first-name">First Name</label>
                            <input id="first-name" class="form-control form-control-lg" type="text" name="firstName"
                            th:value="${#requestdatavalues.formFieldValue('firstName', 'Jon', 'text')}" required>
                            <th:block th:if="${#fields.hasErrors('firstName')}">
                            <div th:errorclass="invalid-input" th:errors="*{firstName}"></div>
                            </th:block>
                            </div>
                            <!---------------->

                            <!--<div class="form-group">-->
                                <!--<label for="first-name">First Name</label>-->
                                <!--<input id="first-name" class="form-control form-control-lg" type="text" th:field="*{firstName}" required>-->
                                <!--<th:block th:if="${#fields.hasErrors('firstName')}">-->
                                    <!--<div th:errorclass="invalid-input" th:errors="*{firstName}"></div>-->
                                <!--</th:block>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <input id="last-name" class="form-control form-control-lg" type="text" th:field="*{lastName}" required>
                                <th:block th:if="${#fields.hasErrors('lastName')}">
                                    <div th:errorclass="invalid-input" th:errors="*{lastName}"></div>
                                </th:block>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" class="form-control form-control-lg" type="text" th:field="*{email}" required>
                                <th:block th:if="${#fields.hasErrors('email')}">
                                    <div th:errorclass="invalid-input" th:errors="*{email}"></div>
                                </th:block>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" class="form-control form-control-lg" type="password" name="password" minlength="5"
                                       maxlength="35" th:field="*{password}" required>
                                <th:block th:if="${#fields.hasErrors('password')}">
                                    <div th:errorclass="invalid-input" th:errors="*{password}"></div>
                                </th:block>
                            </div>
                            <div class="form-group">
                                <label for="password_again">Confirm Password</label>
                                <input id="password_again" class="form-control form-control-lg" type="password" name="confirmPassword"
                                       minlength="5" maxlength="35" required>
                            </div>
                            <button type="submit" class="btn btn-success primary-lg">Create account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>